.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
*.docx
*.pptx
*.xlsx
Thumbs.db
code/old/*
output/*
code/.job/*
*.Rproj
.Rproj
docs/misc/*
data/*
!data/datasets
data/datasets/*
!data/datasets/SRP125125
data/datasets/SRP125125/*
!data/datasets/SRP125125/SraRunTableFull.txt
!data/genesets
data/genesets/*
!data/genesets/GO-immune-system-process.txt
!data/genesets/kegg-immune-related-pathways.csv
