.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*
*.docx
*.pptx
*.xlsx
Thumbs.db
code/old/*
output/*
code/.job/*
*.Rproj
